/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  background: #dfded7;
  font-family: arial, tahoma, verdana, sans-serif;
  font-size: 11px;
  font-weight: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  width: 978px;
  margin: 0 auto; }

.btn {
  display: block;
  border-radius: 2px;
  border: 1px solid #EC6723;
  background-color: #F77219;
  background-image: linear-gradient(to bottom, #f77219 1%, #fec6a7 3%, #f77219 7%, #f75b16 100%);
  height: 25px;
  width: 80px;
  line-height: 25px;
  text-align: center; }
  .btn.special {
    height: 35px;
    line-height: 35px;
    border: 1px solid grey;
    background: #fdcd0a;
    color: #565656;
    font-weight: bold;
    font-size: 12px; }

.content {
  height: 550px;
  background: #fff;
  margin: 100px 200px 200px 200px;
  border: 1px solid #000;
  line-height: 28px; }
  .content h2 {
    background: #606060;
    height: 30px;
    color: #fff;
    padding-left: 15px; }
    .content h2 .caption {
      float: right;
      padding-right: 15px; }
  .content ul > li {
    list-style: none; }
    .content ul > li a {
      text-decoration: none; }

#navigation {
  width: 100%;
  height: 34px;
  background: #0a3151; }

header {
  background: #005485;
  color: #FFF;
  overflow: hidden; }
  header a {
    color: #FFF; }
  header ul {
    list-style: none; }
    header ul.menu {
      float: left; }
      header ul.menu li {
        float: left;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: table-cell;
        vertical-align: middle; }
        header ul.menu li:last-child {
          border-right: none; }
        header ul.menu li a {
          display: block;
          padding: 2px 10px; }
  header #logo {
    float: left;
    padding-top: 10px;
    margin-left: 21px;
    width: 150px;
    height: 65px; }
    header #logo .caption {
      margin: 5px; }
  header #header-links {
    float: right;
    margin: 0 0 5px 0; }
    header #header-links li {
      line-height: 25px;
      height: 25px; }
      header #header-links li #notifications {
        background: url(../../images/icon-bell.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 21px 20px;
        width: 21px;
        height: 25px;
        text-indent: -6000px; }
  header #cart {
    float: right;
    clear: right;
    width: 118px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #007fb8 1%, #6ebad5 3%, #007fb8 7%, #007fb8 100%);
    margin-left: 22px; }
  header #search {
    float: right; }
    header #search #fk-top-search-box {
      height: 36px; }
    header #search .search-bar-text {
      border: 0 none;
      border-radius: 2px 0 0 2px;
      width: 525px;
      outline: 0 none; }
  header .header-content {
    border-radius: 2px 0 0 2px;
    padding: 10px 1% 9px 6%;
    height: 30px;
    width: 93%; }
  header .cart-btn-cont {
    padding: 0px;
    margin: 20px;
    position: static;
    top: 10px;
    left: 1010px; }

#fk-top-search-box {
  background: white url(img/icon-search.jpg) left no-repeat;
  padding-left: 30px;
  line-height: 33px; }

#module-header-desc {
  font-size: 10px;
  font-family: arial;
  display: inline;
  position: absolute;
  top: 10px;
  left: 354px; }

#navigation {
  background: #0A314F;
  line-height: 30px;
  text-decoration: none;
  text-align: center; }
  #navigation ul li {
    float: left;
    width: 150px;
    height: 35px;
    display: block;
    color: white;
    position: relative;
    top: 0px;
    left: 0px; }
    #navigation ul li:hover {
      background: white;
      color: #606060; }
      #navigation ul li:hover ul {
        position: relative;
        top: 30px;
        left: 0px;
        visibility: visible;
        cursor: pointer; }

.module .content .categories div:last-child {
  width: 171px;
  height: 120px;
  margin: 0;
  float: left;
  border: 1px solid #686868; }
.module .content .best-seller div:last-child {
  width: 282px;
  height: 200px;
  margin: 2px 2px 2px 2px;
  float: left;
  border: 1px solid #686868; }
.module .content .recommendations div:last-child {
  width: 210px;
  height: 184px;
  margin: 2px 2px 2px 2px;
  float: left;
  border: none; }
