body {
  background: #e6e5dc;
  font-family: arial;
  font-size: 14px; }

.content {
  height: 550px;
  background: #fff;
  margin: 100px 200px 200px 200px;
  border: 1px solid #000;
  line-height: 28px; }
  .content h2 {
    background: #606060;
    height: 30px;
    color: #fff;
    padding-left: 15px; }
    .content h2 .caption {
      float: right;
      padding-right: 15px; }
  .content ul > li {
    list-style: none; }
    .content ul > li a {
      text-decoration: none; }

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.module .content .categories div:last-child {
  width: 171px;
  height: 120px;
  margin: 0;
  float: left;
  border: 1px solid #686868; }
.module .content .best-seller div:last-child {
  width: 282px;
  height: 200px;
  margin: 2px 2px 2px 2px;
  float: left;
  border: 1px solid #686868; }
.module .content .recommendations div:last-child {
  width: 210px;
  height: 184px;
  margin: 2px 2px 2px 2px;
  float: left;
  border: none; }
