header {
	background: #005485;
	color: #FFF;
	overflow: hidden;
	a {
		color: #FFF;
	}

	ul {
		list-style: none;
		&.menu {
			float: left;
			li {
				float: left;
				border-right: 1px solid $border-color;
				display:table-cell;
				vertical-align:middle;
				&:last-child {
					border-right: none;
				}
				a {
					display: block;
					padding: 2px 10px;
				}
			}
		}
	}

	#logo {
		float: left;
		padding-top: 10px;
		margin-left:21px;
		width: 150px;
		height: 65px;
		.caption {
			margin: 5px;
		}
	}

	#header-links {
		float: right;
		margin: 0 0 5px 0;
		li {
			line-height: 25px;
			height: 25px;
			#notifications {
				background: url(../../images/icon-bell.jpg) no-repeat;
				background-position: 50% 50%;
				background-size: 21px 20px;
				width: 21px;
				height: 25px;
				text-indent: -6000px;
			}
		}
	}

	#cart {
		float: right;	
		clear: right;
		width: 118px;
	}

	#search {
		float: right;
		.search-bar-text {
			border: 0 none;
		    border-radius:$border-radius ;
			width: 525px;
		    outline: 0 none;
		}	
	}


	.header-content {
		border-radius:$border-radius;
		padding:10px 1% 9px 6%;
		//outline:0 none;
		height:30px;
		width:93%;
    }

    .cart-btn-cont{
		padding:0px;
		margin:20px;
		@include positioning(10px,1010px);
		.logo-cart{

		}
		// src="images/icon-cart.jpg"
	}

	.menu-links{
		padding:22px;
		line-height:12px;
		margin:0px;
		@include positioning(-8px,108px);
		ul{
			list-style-type: none;
			li {
				border-right : 1px solid $border-color;
				display:table-cell;
				vertical-align:middle;
				color:$white;
				padding:100px;
			}
		}
	}

	.menu-header-content{
		ul{
			line-height:30px;
			ul{
				@include positioning(0,0);
				visibility:hidden;
				top:32px;
			}
			li{
				@include menu-header-li();
				&:hover {
					color:#606060;
					ul{
					    visibility:visible;
						z-index:9999; 
					}
				}
			}
		}
	}

}


.menu-header-content{
	background: #0a314f;
	-webkit-box-shadow:$menu-shadow-bg;
	box-shadow:$menu-shadow-bg;
	height:40px;
	width:100%;
	@include positioning(80px,0);
}
