<link rel="stylesheet" type="text/css" href="styles/reset-css.css">

<html>

<head>
    <title>fk-Module</title>
    <link rel="stylesheet" type="text/css" href="styles/css/main.css">
</head>

<body>
    <div class="module_electronics">
        <h2 class="module-header">
            <span>Electronics</span>
            <span id="module-header-desc">India's leading electronics megastore</span>
        </h2>

        <div class="module-clip">
            <ul class="module">
                <li>
                    <div class="module-img">
                        <a href="#">
                            <img src="img/mob1.jpg">
                        </a>
                        <span>Mobiles</span>

                    </div>

                </li>
                <li>
                    <div class="module-img">
                        <a href="#">
                            <img src="img/tablet.jpg">
                        </a>
                        <span>Tablets</span>
                    </div>
                </li>
                <li>
                    <div class="module-img">
                        <a href="#">
                            <img src="img/camera.jpg">
                        </a>
                        <span>Cameras</span>
                    </div>
                </li>
                <li>
                    <div class="module-img">
                        <a href="#">
                            <img src="img/lt.jpg">
                        </a>
                        <span>Laptops</span>
                    </div>
                </li>
                <li>
                    <div class="module-img">
                        <a href="#">
                            <img src="img/sd.jpg">
                        </a>
                        <span>Accessories</span>

                    </div>
                </li>
        </div>
        <div class="bannersSection">
            <div class="bannerHolder">
                <ul class="banner">
                    <li>
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/cam.jpg">
                            </a>

                        </div>

                    </li>
                    <li>
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/headp.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/gcard.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
            </div>
        </div>
    </div>
    </li>

    </div>
</body>

</html>
