 .module{
    .content{
       
        .categories{
            div:last-child{
                @include div-last-child(171px,120px,0,$default-border);}
        }
        .best-seller{
            div:last-child{
                @include div-last-child(282px,200px,$default-margin,$default-border);}
        }
        .recommendations{
            div:last-child{
                @include div-last-child(210px,184px,$default-margin,none);}
        }
    }
}
 