
$menu-shadow-bg:0 3px 3px 3px rgba(0, 0, 0, 0.2);
$border-radius:2px 0 0 2px;
$font-family-tahoma:tahoma;
$A:absolute;
$white:#FFFFFF;
$border-color:rgba(255,255,255,0.2);
$bg:#F5F4eb;
$grey-font:#606060;

$base-font: arial,tahoma,verdana,sans-serif;
$base-font-size: 11px;
$base-font-color: #666666;
$base-anchor-color: $base-font-color;
$base-anchor-hover-color: #2271B2;

$default-margin:2px 2px 2px 2px;
$default-border:1px solid #686868;
